[submodule "qbrobotics-driver"]
	path = qbrobotics-driver
	url = git@github.com:kristianmk/qbrobotics-driver.git
[submodule "serial"]
	path = serial
	url = git@github.com:kristianmk/qbrobotics-serial.git
